<a href="https://colab.research.google.com/github/simranvanjani/Personal-projects/blob/main/Surge_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from tensorflow.keras.optimizers import SGD
from matplotlib import pyplot
%matplotlib inline

#Import Data Set by going in file in LHS 
df= pd.read_csv("cab_rides.csv")
df.head() #Displays random samples

In [ ]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,cab_type,destination,source,id,product_id,name
0,Lyft,North Station,Haymarket Square,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,Lyft,North Station,Haymarket Square,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,Lyft,North Station,Haymarket Square,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,Lyft,North Station,Haymarket Square,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,Lyft,North Station,Haymarket Square,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL

In [ ]:
obj_df[obj_df.isnull().any(axis=1)]

      cab_type destination source   id product_id name
73753        L         NaN    NaN  NaN        NaN  NaN

In [ ]:
df1 = df.drop(['time_stamp','destination', 'source', 'id', 'product_id'], axis = 1) #removing unecessary columns 
df1.head()

   distance cab_type  price  surge_multiplier          name
0      0.44     Lyft    5.0               1.0        Shared
1      0.44     Lyft   11.0               1.0           Lux
2      0.44     Lyft    7.0               1.0          Lyft
3      0.44     Lyft   26.0               1.0  Lux Black XL
4      0.44     Lyft    9.0               1.0       Lyft XL

In [ ]:
df_dum= pd.get_dummies(data = df1, prefix=["cab_type","name"]).head()
print(df_dum.columns.values)
df_dum.head()

['distance' 'price' 'surge_multiplier' 'cab_type_L' 'cab_type_Lyft'
 'cab_type_Uber' 'name_Black' 'name_Black SUV' 'name_Lux' 'name_Lux Black'
 'name_Lux Black XL' 'name_Lyft' 'name_Lyft XL' 'name_Shared' 'name_Taxi'
 'name_UberPool' 'name_UberX' 'name_UberXL' 'name_WAV']

,distance,price,surge_multiplier,cab_type_L,cab_type_Lyft,cab_type_Uber,name_Black,name_Black SUV,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_Taxi,name_UberPool,name_UberX,name_UberXL,name_WAV
0,0.44,5.0,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,0.44,11.0,1.0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0.44,7.0,1.0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,0.44,26.0,1.0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0.44,9.0,1.0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [ ]:
X = df_dum.drop('price',axis=1) # Independent variable
y = df_dum['price'] # dependent variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=60)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
trainSet = pd.concat([X_train, y_train], axis = 1)
trainSet.head()

,distance,surge_multiplier,cab_type_L,cab_type_Lyft,cab_type_Uber,name_Black,name_Black SUV,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_Taxi,name_UberPool,name_UberX,name_UberXL,name_WAV,price
4,0.44,1.0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,9.0
3,0.44,1.0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,26.0
2,0.44,1.0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,7.0
1,0.44,1.0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,11.0

In [ ]:
y_pred = regressor.predict(X_test)
y_pred

array([13.25])

In [ ]:
predVal = pd.concat([X_test, y_test], axis = 1)
predVal.head()

,distance,surge_multiplier,cab_type_L,cab_type_Lyft,cab_type_Uber,name_Black,name_Black SUV,name_Lux,name_Lux Black,name_Lux Black XL,name_Lyft,name_Lyft XL,name_Shared,name_Taxi,name_UberPool,name_UberX,name_UberXL,name_WAV,price
0,0.44,1.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,5.0

In [ ]:
print("Training set accuracy = " + str(regressor.score(X_train, y_train)))
print("Test set accuracy = " + str(regressor.score(X_test, y_test)))

Training set accuracy = 1.0
Test set accuracy = nan

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_regression.py:796: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)